body {
    margin: 0px 75px 0px 75px;
    font-family:Arial, Helvetica, sans-serif;
}

.banner-image {
    background-position: center;
    text-align: center;
    line-height: 450px;
    color: white;
    height: 450px;
    width: 850px;
    margin: 50px 0px 20px 0px;
    background-image: url(/hero.png);
}

h1 {
    font-size: 100px;
}

.center h1 {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.content {
    height: 324px;
    width: 850px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(224,224,224);
}

.article {
    margin: 20px;
}

p {
    color: darkgrey;
}
